absl-py==1.4.0
affine==2.3.1
aiofiles==23.2.1
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.13
altair==5.1.1
annotated-types==0.6.0
anthropic==0.19.1
anyio @ file:///tmp/build/80754af9/anyio_1644463572971/work/dist
appdirs==1.4.4
argcomplete==3.1.2
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644569679365/work
arrow==1.2.3
art==6.0
asgiref==3.7.2
asteval==0.9.27
astroid==2.15.0
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.1
attrs==22.2.0
audioread==3.0.0
autopep8==1.5.7
av==10.0.0
awscli==1.26.2
Babel==2.12.1
backcall==0.2.0
bcrypt==4.0.1
beatmachine==3.2.0
beautifulsoup4==4.12.3
bidict==0.22.1
binaryornot==0.4.4
black==21.9b0
bleach==6.0.0
blinker==1.6.2
blis==0.7.9
bokeh==2.4.3
boto3==1.25.2
botocore==1.28.2
bottle==0.12.25
Brotli==1.0.9
brotlipy==0.7.0
browser-cookie3==0.19.1
bs4==0.0.2
build==1.0.3
CacheControl==0.13.1
cachetools==5.3.0
cairocffi @ file:///home/conda/feedstock_root/build_artifacts/cairocffi_1668204457237/work
CairoSVG==2.5.2
catalogue==2.0.8
celluloid==0.2.0
certifi==2024.2.2
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.3.2
chart-studio==1.1.0
cleo==2.1.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
cmake==3.27.0
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
colorcet==3.0.1
colorific==0.3
colormath==3.0.0
colorspacious==1.1.2
colour==0.1.5
colour-science @ git+https://github.com/crowsonkb/colour@bf653ac17ca57fea0695df114cf785df7161beec
comm==0.1.2
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1649105784853/work
confection==0.0.3
contextlib2==21.6.0
cookiecutter==2.1.1
cookiejar==0.0.3
coverage==5.5
crashtest==0.4.1
cryptography==39.0.2
cssselect2==0.7.0
curl-cffi==0.5.7
customtkinter==5.2.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem==2.0.7
Cython==0.29.32
cytoolz==0.11.0
darkdetect==0.8.0
dask @ file:///tmp/abs_994957d9-ec12-411f-b953-c010f9d489d10hj3gz4k/croots/recipe/dask-core_1658513209934/work
debugpy==1.6.6
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
depthai==2.13.3.0
depthai-gui==2.0.6
diff-match-patch==20200713
diffusers==0.7.2
dill==0.3.6
distlib==0.3.8
distro==1.9.0
Django==4.2.11
django-embed-video==1.4.9
dlib==19.24.0
dm-tree==0.1.7
dnspython==2.4.2
docker-pycreds==0.4.0
docopt==0.6.2
docstring-to-markdown==0.11
docutils==0.18.1
drawSvg==1.9.0
dsinternals==1.2.4
dulwich==0.21.7
dxfgrabber==1.0.1
easy-thumbnails==2.8.5
email_validator==2.1.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
ent==0.3.3
entrypoints==0.4
etils==0.8.0
executing==1.2.0
eyed3==0.9.7
ez-qt==2.0.0
ez-settings==1.2.0
ez-utils==1.1.0
facemorpher==5.2.1
fake-useragent==1.2.1
fal_client==0.4.1
falcon==3.1.1
fastapi==0.111.0
fastapi-cli==0.0.3
fastjsonschema==2.19.1
ffmpeg==1.4
ffmpeg-python==0.2.0
ffmpy==0.3.2
filelock==3.13.1
filetype==1.2.0
Fiona==1.9a3
flake8==6.0.0
Flask==2.3.3
flask-babel==3.1.0
Flask-Cors==4.0.0
flask-ngrok==0.0.25
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.0.5
Flask-Uploads==0.2.1
Flask-WTF==1.2.1
flatbuffers==23.3.3
flowdas==0.5.0
fonttools==4.25.0
frozenlist==1.3.3
fsspec==2024.2.0
ftfy==6.1.1
future==0.18.3
g4f==0.0.2.9
gast==0.4.0
generativepy==3.2
geojson==2.5.0
geopandas==0.12.1
georasters==0.5.23
gerber-renderer==0.1.4
gfycat==0.2.2
gin-config==0.5.0
gitdb==4.0.10
GitPython==3.1.32
glcontext==2.3.7
glitch-this==1.0.2
GlitchArt==1.0.0
gmic==2.9.2
google-api-core==2.8.2
google-api-python-client==2.64.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-images-download==2.8.0
google-pasta==0.2.0
googleapis-common-protos==1.56.4
gpthistory==0.3
gradio==4.31.0
gradio_client==0.16.2
greenlet==2.0.2
grpcio==1.51.3
gTTS==2.3.1
h11==0.13.0
h5py==3.8.0
hdf5storage==0.1.18
holoviews==1.15.4
http-client==0.1.22
httpcore==1.0.4
httplib2==0.20.4
httptools==0.6.1
httpx==0.27.0
httpx-sse==0.4.0
huepy==1.2.1
huggingface-hub==0.23.0
hyperbolic==1.4.0
icecream==2.1.3
idna==3.7
ImageHash==4.3.1
imageio @ file:///tmp/abs_cd920173-f360-47c5-97b0-bf4d1076d5d4dvic0oys/croots/recipe/imageio_1658785036907/work
imageio-ffmpeg==0.4.7
imagen==2.1.0
imagesize==1.4.1
imgkit==1.2.3
immutabledict==2.2.1
impacket==0.11.0
importlib-metadata==6.0.0
importlib-resources==5.9.0
imread==0.7.4
imutils==0.5.4
inflection==0.5.1
iniconfig==1.1.1
instabot==0.117.0
installer==0.7.0
intervaltree==3.1.0
ipycanvas==0.13.1
ipykernel==6.21.3
ipympl==0.9.2
ipyplot==1.1.1
ipython==8.11.0
ipython-genutils==0.2.0
ipyturtle3==0.1.4
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
isort==5.9.3
itsdangerous==2.1.2
iutils @ git+https://github.com/inconvergent/iutils@a8ee91c168b7788596fa303abe08bfae88092c05
jaraco.classes==3.2.3
jedi==0.18.2
jeepney==0.8.0
jellyfish==0.9.0
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==1.0.1
joblib==1.2.0
Js2Py==0.74
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema==3.2.0
jupyter @ file:///tmp/abs_33h4eoipez/croots/recipe/jupyter_1659349046347/work
jupyter-console @ file:///opt/conda/conda-bld/jupyter_console_1647002188872/work
jupyter-server @ file:///tmp/abs_b88b31b8-83b9-476d-a46d-e563c421f38fvsnyi1ur/croots/recipe/jupyter_server_1658754481507/work
jupyter_client==7.4.9
jupyter_core==5.2.0
jupyterlab @ file:///tmp/abs_12f3h01vmy/croots/recipe/jupyterlab_1658907535764/work
jupyterlab-pygments==0.2.2
jupyterlab-server @ file:///opt/conda/conda-bld/jupyterlab_server_1650462180599/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
jupyterthemes==0.20.0
kaggle==1.5.12
keras==2.10.0
keras-nightly==2.11.0.dev2022100607
Keras-Preprocessing==1.1.2
keras-resnet==0.2.0
keras-retinanet==1.0.0
keyboard==0.13.5
keyring==24.3.0
Kivy==2.0.0
Kivy-Garden==0.1.5
kiwisolver @ file:///opt/conda/conda-bld/kiwisolver_1653292039266/work
langcodes==3.3.0
lazy-object-proxy==1.9.0
lazy_loader==0.1
ldap3==2.9.1
ldapdomaindump==0.9.4
legacycontour @ git+https://github.com/matplotlib/legacycontour.git@4b2ad15dbcbe730db9e0e3692dfde06fd3ebcd69
lesscpy==0.15.1
Levenshtein==0.21.1
libclang==15.0.6.1
librosa==0.8.0
lit==16.0.6
llvmlite==0.39.1
locator==0.1.0
locket @ file:///opt/conda/conda-bld/locket_1652903118915/work
lxml==4.9.1
lz4==4.3.2
madmom==0.16.1
mahotas==1.4.13
MailGw-Temporary-Email==0.0.2
Markdown==3.4.1
markdown-it-py==3.0.0
markovify==0.9.4
MarkupSafe==2.1.3
mathsvg==0.4.0
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1634667019719/work
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
melt==1.0.3
mido==1.3.2
mistune==2.0.5
mock==4.0.3
moderngl==5.7.0
more-itertools==9.1.0
moviepy==1.0.3
mpld3==0.5.8
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.14
munkres==1.1.4
murmurhash==1.0.9
mutagen==1.46.0
mypy-extensions==0.4.3
mysql-connector-python==8.0.32
names==0.3.0
nbclassic @ file:///opt/conda/conda-bld/nbclassic_1644943264176/work
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx @ file:///opt/conda/conda-bld/networkx_1657784097507/work
neural-style==0.5.7
nltk==3.8.1
nodezator==1.3.10
noise==1.2.2
notebook @ file:///tmp/abs_abf6xa6h6f/croots/recipe/notebook_1659083654985/work
numba==0.56.4
numpy==1.22.3
numpydoc==1.5.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauth2client==4.1.3
oauthlib==3.2.2
ObjectExtractor==0.2.2
openai==0.26.5
opencv-contrib-python==4.6.0.66
opencv-python==4.5.5.64
opencv-python-headless==4.6.0.66
openvino==2022.2.0
opt-einsum==3.3.0
orjson==3.10.3
outcome==1.2.0
packaging==23.2
pager==3.3
painter==0.3.1
pandas==2.1.0
pandocfilters==1.5.0
panel==0.14.4
paperclip==2.7.2
param==1.13.0
paramiko==3.0.0
parso==0.8.3
partd @ file:///opt/conda/conda-bld/partd_1647245470509/work
pathlib==1.0.1
pathspec==0.9.0
pathtools==0.1.2
pathy==0.6.2
pcb-tools==0.1.6
pcb-tools-extension==0.9.3
perlin-numpy @ git+https://github.com/pvigier/perlin-numpy@5e26837db14042e51166eb6cad4c0df2c1907016
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.2.0
pkginfo==1.9.6
platformdirs==3.11.0
plotly==5.10.0
pluggy==1.0.0
ply==3.11
pnoise==0.2.0
poetry==1.7.1
poetry-core==1.8.1
poetry-plugin-export==1.6.0
pooch==1.7.0
portalocker==2.5.1
preshed==3.0.8
proglog==0.1.10
progressbar2==4.0.0
prometheus-client @ file:///tmp/abs_d3zeliano1/croots/recipe/prometheus_client_1659455100375/work
promise==2.3
prompt-toolkit==3.0.38
protobuf==3.20.0
proxy-tools==0.1.0
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==8.0.0
pyarrow==13.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycairo==1.20.1
pycocotools==2.0.5
pycodestyle==2.7.0
pycosat==0.6.3
pycparser==2.21
pycryptodome==3.18.0
pycryptodomex==3.18.0
pyct==0.5.0
pycurl==7.45.2
pydantic==2.7.1
pydantic_core==2.18.2
pydeck==0.8.0
pydocstyle==6.2.3
pydot==1.4.2
pydraw==2.0.2
pydub==0.25.1
PyExecJS==1.5.1
pyflakes==3.0.1
pyflow==0.3.1
pygame==2.1.2
PyGithub==2.1.1
Pygments==2.14.0
pyjsparser==2.7.1
PyJWT @ file:///opt/conda/conda-bld/pyjwt_1657544592787/work
pylint==2.17.0
pylint-venv==3.0.1
pyls-spyder==0.4.0
pymailtm==1.1.1
Pympler==1.0.1
pymunk==6.6.0
PyNaCl==1.5.0
PyOpenGL==3.1.7
pyOpenSSL==23.0.0
pyparsing==3.0.9
PyPasser==0.0.5
PyPDF2==3.0.1
pyperclip==1.8.2
PyPrind==2.11.3
pyproj==3.4.0
pyproject_hooks==1.0.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
PyQt6==6.4.0
PyQt6-Qt6==6.4.0
PyQt6-sip==13.4.0
pyqtgraph==0.13.1
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyrsistent==0.19.3
pysal==2.7.0
pyser==0.1.5
pysftp==0.2.9
pysheds==0.3.3
PySide2==5.15.2.1
PySide6==6.3.2
PySide6-Addons==6.3.2
PySide6-Essentials==6.3.2
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
pyspnego==0.10.2
pytest==7.1.3
python-dateutil==2.8.2
python-dotenv==0.21.0
python-engineio==4.7.1
python-lsp-black==1.2.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.1
python-magic==0.4.27
python-multipart==0.0.9
python-nmap==0.7.1
python-slugify==8.0.1
python-socketio==5.7.2
python-utils==3.3.3
pytoolconfig==1.2.5
pyttsx3==2.90
pytube==12.1.2
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
pyviz-comms==2.2.1
PyWavelets @ file:///tmp/build/80754af9/pywavelets_1607645421828/work
pywebview==5.0.5
PyX==0.16
pyxdg==0.28
pyxelate @ git+https://github.com/sedthh/pyxelate.git@ae2de9249d11063d0c1563b8e30a634c7d07faf8
PyYAML==6.0
pyzmq==25.0.0
qasync==0.23.0
QDarkStyle==3.0.3
qstylizer==0.2.2
Qt.py==1.3.7
QtAwesome==1.2.3
qtconsole==5.4.0
QtPy==2.3.0
qtpynodeeditor==0.2.0
quickjs==1.19.2
random-password-generator==2.2.0
random-username==1.0.2
rapidfuzz==3.3.0
rasterio==1.3.3
rasterstats==0.17.0
recordclass==0.20
regex==2021.9.24
reportlab==3.6.12
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
resampy==0.4.2
responses==0.21.0
retrying==1.3.3
rich==13.5.2
rope==1.7.0
rsa==4.9
Rtree==1.0.1
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016711199/work
ruff==0.4.4
s3transfer==0.6.0
sacrebleu==2.2.0
safetensors==0.4.3
samila==1.0
schedule==1.1.0
schema==0.7.5
scikit-image==0.19.3
scikit-learn==1.4.1.post1
scikit-video==1.1.11
scipy==1.12.0
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
SecretStorage==3.3.3
selenium==4.4.3
semantic-version==2.10.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentencepiece==0.1.97
sentry-sdk==1.28.1
seqeval==1.2.2
setproctitle==1.3.2
sgmllib3k==1.0.0
Shapely==1.8.5.post1
shellingham==1.5.4
shiboken2==5.15.2.1
shiboken6==6.3.2
shortuuid==1.0.9
simple-websocket==0.10.1
simple-youtube-api==0.2.8
simplejson==3.17.6
sip==4.19.13
six==1.16.0
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
sniffio @ file:///tmp/build/80754af9/sniffio_1614030464178/work
snowballstemmer==2.2.0
snscrape==0.5.0.20230113
snuggs==1.4.7
sortedcontainers==2.4.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.4
spacy==3.4.2
spacy-legacy==3.0.10
spacy-loggers==1.0.3
SpeechRecognition==3.8.1
Sphinx==6.1.3
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder==5.4.2
spyder-kernels==2.4.2
SQLAlchemy==2.0.20
sqlparse==0.4.4
srsly==2.4.5
stack-data==0.6.2
starlette==0.37.2
stasm==2.0.2
streamlit==1.26.0
supervisor==4.1.0
svg-turtle==0.4.1
svgelements==1.8.4
svglib==1.4.1
svgutils==0.3.4
svgwrite==1.4.3
sympy==1.11.1
sync-batchnorm==0.0.1
tabulate==0.9.0
tb-nightly==2.11.0a20221006
tenacity==8.1.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.1
tensorflow @ file:///home/jack/base_tensorflow_pkg_numpy%3D%3D1.22.4_tensorflow_pkg/tensorflow-2.11.0-cp39-cp39-linux_x86_64.whl
tensorflow-addons==0.18.0
tensorflow-datasets==4.7.0
tensorflow-estimator==2.10.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.10.0
tensorflow-model-optimization==0.7.3
tensorflow-text-nightly==2.11.0.dev20221006
termcolor==2.2.0
terminado @ file:///tmp/build/80754af9/terminado_1644322582718/work
testpath @ file:///opt/conda/conda-bld/testpath_1655908557405/work
text-unidecode==1.3
textdistance==4.5.0
tf-estimator-nightly==2.11.0.dev2022100608
tf-nightly==2.11.0.dev20221006
tf-slim==1.1.0
thinc==8.1.5
threadpoolctl==3.1.0
three-merge==0.1.1
tifffile==2022.10.10
tinycss2==1.2.1
tkdial==0.0.7
tkhtmlview==0.3.0
tls-client==0.2.1
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz @ file:///tmp/build/80754af9/toolz_1636545406491/work
torch==1.12.1
torchvision==0.13.1
tornado==6.3.3
tqdm @ file:///opt/conda/conda-bld/tqdm_1647339053476/work
traitlets==5.9.0
transformers @ git+https://github.com/huggingface/transformers@e0c3cee17085914bbe505c159beeb8ae39bc37dd
transforms==0.1
trio==0.21.0
trio-websocket==0.9.2
triton==2.0.0
trove-classifiers==2024.1.31
TwitterAPI==2.7.13
TwoCaptcha==0.0.1
twython @ file:///tmp/build/80754af9/twython_1614080287802/work
typeable==0.6.0
typeguard==2.13.3
typer==0.12.3
typing==3.7.4.3
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==4.3.1
ujson==5.7.0
Unidecode==1.3.4
uritemplate==4.1.1
urllib3==2.2.1
uvicorn==0.23.2
uvloop==0.19.0
validators==0.22.0
versioneer==0.28
vidpy==0.1.9
virtualenv==20.25.0
vispy==0.5.1
vpype @ git+https://github.com/abey79/vpype@fe70ed40faeab0dbde7b45c8130cf251a79d0793
vsketch @ file:///home/jack/Desktop/vsketch
Wand==0.6.10
wandb==0.15.7
wasabi==0.10.1
watchdog==2.3.1
watchfiles==0.18.0
wcwidth==0.2.6
webassets==2.0
webcolors==1.12
webdriver-manager==3.8.3
webencodings==0.5.1
websocket-client @ file:///tmp/build/80754af9/websocket-client_1614803975924/work
websockets==11.0.3
Werkzeug==2.3.7
whatthepatch==1.0.4
whois==0.9.27
widgetsnbextension @ file:///tmp/build/80754af9/widgetsnbextension_1644992802045/work
Wikipedia-API==0.6.0
wrapt==1.15.0
wsproto==1.2.0
WTForms==3.1.2
wurlitzer==3.0.3
yapf==0.32.0
yarl==1.8.2
yt-dlp==2023.7.6
zipp==3.15.0
Zoom_Utils==0.0.0
