<!DOCTYPE html>
<html>
<head>
    <title>Display Resources</title>
</head>
<body  style="background-color: cadetblue;">
    <h1 style="color: orange;" >Current available Image Resources</h1>

    <form action="/edit_mask" method="post">
        {% for image_path in image_paths %}
        <input type="hidden" name="image_paths" value="{{ image_path }}">
        {% endfor %}

    </form>
        <!-- return home -->
        <form action="/" method="get">
            <button type="submit">Home</button><br/><br/>
        </form>
    <form action="/blend_images" method="post">

      

        {% for image_path in image_paths %}
             <img src="{{ url_for('static', filename='archived-images/' + image_path.split('/')[-1]) }}" width="200px">
        <input type="hidden" name="image_paths" value="{{ image_path }}">
        {% endfor %}

    
    </form>

</body>
</html>
