<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download YouTube Video and Extract Images</title>
</head>
<body  style="background-color: rgb(156, 23, 23);">

    <h1  style="color: orange;" >Download YouTube Video and Extract Images</h1>
    <!-- link to home -->
    <a href="/">Index</a><br/><br/>
    https://www.youtube.com/shorts/ZKD0t4kt0MA
    <form method="POST">
        <label for="url">YouTube URL:</label>
        <input type="text" id="url" name="url" placeholder="Enter YouTube URL" required>
        <button type="submit">Download and Extract Images</button>
    </form>
</body>
</html>
