<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing with Flask</title>
</head>
<body>
    <h1>Upload Mask Image and Set Parameters</h1>
  <!doctype html>
    <title>Upload an image</title>
    <h1>Upload an image for segmentation processing</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    '''
        <h2>Uploaded Image: {{filename}}</h2>

        <img src="static/archived-images/processed.png" alt="Processed Image">

</body>
</html>
