<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torn Edge Effect</title>
    <style>
        .image-container {
            display: flex;
            justify-content: space-around;
            margin: 20px;
        }
        .image-container img {
            max-width: 45%;
            height: auto;
        }
    </style>
</head>
<body style="background-color: cadetblue;">
    <center>
    <h1 style="color: orange;">FlaskArchitect's Torn EdgeEffect</h1>
    <a href="{{ url_for('index') }}" class="refresh-button">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <div class="image-container">
        <div>
            <h2>Original Image</h2>
            <img src="{{ url_for('static', filename=original_image) }}" alt="Original Image">
        </div>
        <div>
            <h2>Torn Edge Image</h2>
            <img src="{{ url_for('static', filename=torn_image) }}" alt="Torn Edge Image">
        </div>
    </div>
    </center>       
</body>
</html>
