<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Upload new File</title>
</head>
<body>
    <h1>Upload new File</h1>
    <!--  link to index -->
    <a href="{{ url_for('index') }}">Back to Home</a><br/><br/>
    <form method=post enctype=multipart/form-data action="{{ url_for('upload_file') }}">
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>